<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/008/182/01058d3.jpg">
    </a>
    <h1>Philip Weston Nash</h1>
  </div>
</div>
